.events-page {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.events-page-item {
    flex:1;
    width: auto;
    margin: 1%;
    border: 2px solid black;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events-page-item-title {
    text-decoration: underline;
    text-underline-offset: 10px;
    margin: 1% 0.5%;
    font-size: 25px;
}

.events-page-item-cards {
    margin-top: 3%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}